<!doctype html>
<html lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <title>cos</title>
  <style>

        .top
        {
              background-color: coral;
              height: 100px;

        }
        .mid
        {

        }

  </style>

</head>
<div class="top">
  <center>
    <%= link_to "main", "index" %>
    <%= link_to "O mnie", "strona1" %>
    <%= link_to "Kontakt", "strona2" %>
  </center>
</div>

</body>
</html>